h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #444;
}

h3 {
  font-size: 1.75rem;
  font-weight: bold;
  color: #555;
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

h5 {
  font-size: 1.25rem;
  font-weight: bold;
}

h6 {
  font-size: 1rem;
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
}

html {
  height: 100%;
}

body {
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 1000px;

  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

#main-header .site-name {
  font-size: 2rem;
  font-weight: bold;
}

#main-header {
  padding-top: 1rem;
}

#main-nav {
  text-align: left;
  padding: 1rem;
  background-color: white;
  top: 0;
  z-index: 1000;
  position: sticky;
  margin-bottom: 50px;
}

#main-nav ul {
  list-style: none;
  display: flex;
  justify-content: end;
  margin: 0;
  padding: 0;
}

#main-nav ul li {
  margin: 0;
}

#main-nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.5rem 1rem;
}

#main-title {
  text-align: center;
}

.post-dates {
  text-align: end;
  font-size: 0.8rem;
}

article .content h2 {
  margin-top: 30px;
}

article .content ul li {
  padding: 5px 0;
  line-height: 20px;
  text-indent: 5px;
  display: flex;
  align-items: flex-start;
}

article .content ul li a {
  display: contents;
}

article .content ul li::before {
  content: '•';
  font-weight: bold;
  margin-right: 10px;
  font-size: 20px;
    flex-shrink: 0; /* 아이콘이 줄바꿈되어 밀리지 않도록 고정 */

}

footer {
  padding: 2rem 0rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
